black==18.6b4; python_version>='3.6'
coverage==4.5.3
tox==3.12.1
twine==1.13.0
Sphinx==3.0.4
sphinx-autobuild==0.7.1
sphinxcontrib-spelling==4.2.1
typing==3.6.6
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
